groups:
  - name: Zabbix
    rules:
      - alert: ZabbixServerDown
        expr: up{job="zabbix-server"} == 0
        for: 60s
        labels:
          severity: critical
        annotations:
          summary: "Zabbix server is down"
          description: "Prometheus cannot scrape zabbix-server for 60s"
      - alert: ZabbixFrontendDown
        expr: up{job="zabbix-web"} == 0
        for: 60s
        labels:
          severity: critical
        annotations:
          summary: "Zabbix frontend is down"
          description: "Prometheus cannot scrape zabbix-frontend for 60s"
