HEALTH_CHECK_HOST=google.com
LOCAL_NETWORK=192.168.0.0/16
OPENVPN_PROVIDER=custom
OPENVPN_OPTS=--inactive 3600 --ping 10 --ping-exit 60 --txqueuelen 4000
PEER_DNS=false
TRANSMISSION_HOME=/config
TRANSMISSION_WATCH_DIR=/data/watch
TRANSMISSION_WATCH_DIR_ENABLED=true
TZ=Europe/Rome
