version: "3.8"

services:
  postgres-exporter:
    image: prometheuscommunity/postgres-exporter:v0.17.1
    ports:
      - 9187:9187
    networks:
      - zabbix-net
    env_file:
      - start.env
    environment:
      DATA_SOURCE_USER_FILE: /run/secrets/POSTGRES_USER
      DATA_SOURCE_PASS_FILE: /run/secrets/POSTGRES_PASSWORD
    secrets:
      - POSTGRES_USER
      - POSTGRES_PASSWORD

  zabbix-server:
    image: zabbix/zabbix-server-pgsql:alpine-6.4-latest
    deploy:
      restart_policy:
        condition: any
      placement:
        constraints:
          - node.platform.arch==x86_64
          - node.role == worker
      resources:
        limits:
          cpus: "2.5"
          memory: 1.5G
        reservations:
          cpus: "1.5"
          memory: 750M
    env_file:
      - start.env
    environment:
      - ZBX_SOURCEIP=0.0.0.0
    secrets:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    ulimits:
      nproc: 65535
      nofile:
        soft: 20000
        hard: 40000
    ports:
      - "10051:10051"
    networks:
      - zabbix-net
      - gw_net
    depends_on:
      - postgres-zabbix
    stop_grace_period: 30s
    sysctls:
      - net.ipv4.ip_local_port_range=1024 65000
      - net.ipv4.conf.all.accept_redirects=0
      - net.ipv4.conf.all.secure_redirects=0
      - net.ipv4.conf.all.send_redirects=0
    labels:
      com.zabbix.description: "Zabbix server with PostgreSQL database support"
      com.zabbix.company: "Zabbix LLC"
      com.zabbix.component: "zabbix-server"
      com.zabbix.dbtype: "pgsql"
      com.zabbix.os: "alpine"
    # logging:
    #   driver: gelf
    #   options:
    #     gelf-address: udp://gw.comintern.local:12201
    #     tag: zabbix

  zabbix-agent2:
    image: zabbix/zabbix-agent:alpine-6.4-latest
    ports:
      - target: 10050
        published: 10050
        protocol: tcp
    volumes:
      - /etc/localtime:/etc/localtime:ro
      # - /etc/zabbix:/etc/zabbix/zabbix_agentd.d:ro
    tmpfs: /tmp
    deploy:
      mode: global
      restart_policy:
        condition: on-failure
        delay: 3s
        max_attempts: 5
        window: 60s
      placement:
        constraints:
          - node.platform.arch==x86_64
      resources:
        limits:
          cpus: "0.2"
          memory: 128M
        reservations:
          cpus: "0.1"
          memory: 64M
    privileged: true
    pid: "host"
    networks:
      - zabbix-net
    stop_grace_period: 5s
    labels:
      com.zabbix.description: "Zabbix agent 2"
      com.zabbix.company: "Zabbix LLC"
      com.zabbix.component: "zabbix-agent2"

  zabbix-web:
    image: zabbix/zabbix-web-nginx-pgsql:6.4-alpine-latest
    environment:
      ZBX_SERVER_HOST: zabbix-server
      PHP_TZ: Europe/Kiev
    env_file:
      - start.env
    secrets:
      - POSTGRES_USER
      - POSTGRES_PASSWORD
    deploy:
      restart_policy:
        condition: on-failure
      placement:
        max_replicas_per_node: 1
        constraints:
          - node.platform.arch==x86_64
          - node.role == manager         
      replicas: 1
      resources:
        limits:
          cpus: "1.0"
          memory: 1.5G
        reservations:
          cpus: "0.7"
          memory: 700M
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/"]
      interval: 20s
      timeout: 20s
      retries: 5
      start_period: 60s
    stop_grace_period: 10s
    sysctls:
      - net.core.somaxconn=65535
    ports:
      - target: 8443
        published: 18443
        mode: ingress
      - target: 8080
        published: 18080
        mode: ingress
    depends_on:
      - zabbix-server
    networks:
      - zabbix-net
      - gw_net
    labels:
      com.zabbix.description: "Zabbix frontend on Nginx web-server with PostgreSQL database support"
      com.zabbix.company: "Zabbix LLC"
      com.zabbix.component: "zabbix-frontend"
      com.zabbix.webserver: "nginx"
      com.zabbix.dbtype: "pgsql"
      com.zabbix.os: "alpine"

networks:
  zabbix-net:
    driver: overlay
    driver_opts:
      com.docker.network.enable_ipv6: "false"
  gw_net:
    external: true
    name: gateway_gw_net

secrets:
  POSTGRES_USER:
    file: ./.POSTGRES_USER
    name: POSTGRES_USER_v${CONF_VERSION}
  POSTGRES_PASSWORD:
    file: ./.POSTGRES_PASSWORD
    name: POSTGRES_PASSWORD_v${CONF_VERSION}

configs:
  postgres_config:
    # external: true
    file: ./postgresql.conf
    name: postgres_config_v${CONF_VERSION}
